@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* The switch - the box around the slider */
input,select{
    outline: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked+.slider {
    background-color: #1f9741;
}

input:focus+.slider {
    box-shadow: 0 0 1px #1f9741;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

input{
    outline: none !important;
}

/* modification css */
.gradient-border {
    border-left: 5px solid;
    border-image: linear-gradient(to bottom, #008000, #00B800);
    border-image-slice: 1;
}
.chart-container {
    position: relative;
    width: 100%;
}
canvas {
    width: 100% !important;
    height: auto !important;
}
#doughnut {
    width: 250px !important;
    height: 250px !important;
}
#lineChart{
    height: 250px !important;
}
.sales-card,.profit-card,.customer-card{
    transition: all .3s ease;
    cursor: pointer;
}
.sales-card:hover{
    background: #f2fcff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
}
.sales-card:hover p,.sales-card:hover i,.sales-card:hover a{
    color: #556b2f;
}
.profit-card:hover{
    background: #f2fcff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
}
.profit-card:hover p,.profit-card:hover i,.profit-card:hover a{
    color: #009600;
}
.customer-card:hover{
    background: #f2fcff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
}
.customer-card:hover p,.customer-card:hover i,.customer-card:hover a{
    color: #d45800;
}
.mx-side-link{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    margin-bottom: 20px;
}
.mx-side-link:hover{
    font-weight: bold;
    color: #d45800;
    padding-left: 10px;
}
.mx-side-link.active{
    color: #d45800;
    font-weight: bold;
}

thead tr th{
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
}


.add-to-cart{
    transition: all .5s ease;
    border: solid 1px transparent;
    position: relative;
    border-radius: 12px;
}
.add-to-cart:hover{
    background: transparent;
    border: solid 1px #009700;
    color: #009700;
    border-radius: 12px;
}
.add-to-cart::after,.add-to-cart::before{
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    background: #009700;
    border-radius: 50%;
    opacity: 0;
    transition: all 1s ease;
}
.add-to-cart::after{
    left: 0px;
    top: -5px;
}
.add-to-cart::before{
    right: 0px;
    bottom: -5px;
}
.add-to-cart:hover.add-to-cart::after{
    opacity: 1;
    left: 98%;
    top: 0px;
    height: 0px;
    width: 0px;
}
.add-to-cart:hover.add-to-cart::before{
    opacity: 1;
    right: 98%;
    height: 0px;
    width: 0px;
    bottom: 0px;
}

.shadow-bottom {
    box-shadow: 0 0 10px 0 16px rgba(111, 110, 112, 0.5);
}
.owl-nav{
    position: absolute;
    top: 40%;
    width: 100%;
}
.owl-prev, .owl-next{
    position: absolute;
    background: #fff !important;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.363);
    transition: all .3s ease;
    padding: 5px 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.owl-prev{
    left: -15px;
}
.owl-next{
    right: -15px;
}
.owl-next:hover, .owl-prev:hover{
    background: #009700 !important;
    color: #fff !important;
}
.owl-prev span,.owl-next span{
    font-size: 30px;
    transition: all .1s ease;
}
.owl-prev:hover span,.owl-next:hover span{
    font-size: 40px;
}
.owl-stage-outer{
    padding-bottom: 20px;
}
.owl-item{
    cursor: pointer;
}
.product-card{
    transition: all .3s ease;
}
.product-card .main-card{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.product-card:hover{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.product-image,.featured-image{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-position: center;
    height: 230px;
}
.mx-link{
    transition: all .3s ease;
    position: relative;
    margin-right: 15px;
}
.mx-link:hover{
    color: #009700;
    font-weight: bold;
}
.create-store{
    background: transparent;
    border: solid 2px #fff;
    color: #fff;
    transform: all .3s ease;
}
.create-store:hover{
    background: #fff;
    color: #008000;
}

/* other button */
.custom-mx-button{
    transition: all .5s ease;
    border: solid 1px #008000;
    position: relative;
    border-radius: 12px;
    color: #009700;
}
.custom-mx-button:hover{
    background: #008000;
    border: solid 1px transparent;
    border-radius: 12px;
    color: #fff;
}
.custom-mx-button::after,.custom-mx-button::before{
    content: '';
    height: 10px;
    width: 10px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    transition: all 1s ease;
}
.custom-mx-button::after{
    left: 0px;
    top: -5px;
}
.custom-mx-button::before{
    right: 0px;
    bottom: -5px;
}
.custom-mx-button:hover.custom-mx-button::after{
    opacity: 1;
    left: 98%;
    top: 0px;
    height: 0px;
    width: 0px;
}
.custom-mx-button:hover.custom-mx-button::before{
    opacity: 1;
    right: 98%;
    height: 0px;
    width: 0px;
    bottom: 0px;
}
 
@media only screen and (min-width: 320px) and (max-width: 479px){
    .product-image{
        height: 200px;
    }
}